<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      lang="en">
<head>
    <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
    <title>Task Manager</title>
</head>

<body>
<header>
    <!--/*/ <th:block th:include="fragments/header :: header('home')"></th:block> /*/-->
</header>

<main class="container">
    <h1 class="display-4">Автоматизированная систама для отслеживания задач и проектов для Naumen консалтинг</h1>
    <p class="lead">Это приложение поможет Вам с отслеживанием задач.</p>

    <hr class="my-4">
    <p>Для большинства функций требуется вход в систему. Неавторизованные пользователи имеют доступ к экрану приветствия и панели входа или регистрации.</p>

    <p>Администратор (менеджер) может:</p>
    <ul>
        <li>Создать задачу и назначить задачу любому пользователю</li>
        <li>Посмотреть список пользователей и возможностью удалить пользователя</li>
        <li>Просмотреть список всех задач с редактированием или удалением задачи</li>
    </ul>
        <p>Обычный пользователь (сотрудник) может:</p>
    <ul>
        <li>Создать задачу только для себя</li>
        <li>Просмотреть список всех пользователей без доступа к редактированию</li>
        <li>Просмотреть список всех задач, но отредактировать или удалить только задачи, за которые он отвечает</li>
    </ul>

    <p>Каждый авторизованный пользователь может:</p>
    <ul>
        <li>Посмотреть собственный профиль</li>
        <li>Сменить статус задачи на выполненна/незаконченна</li>

    </ul>

    <h2 class="my-second-header">Тестовые пользователи:</h2>
    <ul>
        <li>manager@mail.com, password: 112233</li>
        <li>ann@mail.com, password: 112233</li>
        <li>mark@mail.com, password: 112233</li>
    </ul>
</main>

<footer class="footer">
    <!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->
</footer>

</body>
</html>
